spec/support/wsdl/say_hello_wsdl.xml

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
                  xmlns:tns="spyne.examples.hello"
                  xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:xop="http://www.w3.org/2004/08/xop/include"
                  xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/"
                  xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="spyne.examples.hello" name="Application">
  <wsdl:types>
    <xs:schema targetNamespace="spyne.examples.hello"
               elementFormDefault="qualified">

      <xs:complexType name="SayHello">
        <xs:sequence>
          <xs:element name="Id" type="xs:integer"/>
          <xs:element name="Type" type="xs:integer"/>
          <xs:element name="Flag" type="xs:boolean"/>
          <xs:element name="Notes" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SayHelloResponse">
        <xs:sequence>
          <xs:element name="SayHelloResult" type="tns:stringArray"
                      minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PurchaseItem">
        <xs:sequence>
          <xs:element name="Id" type="xs:integer"/>
          <xs:element name="Quantity" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PurchaseItemResponse">
        <xs:sequence>
          <xs:element name="PurchaseItemResult" type="xs:boolean"
                      minOccurs="1" nillable="false" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Ping">
        <xs:sequence>
          <xs:element name="Echo" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PingResponse">
        <xs:sequence>
          <xs:element name="PingResult" type="xs:boolean"
                      minOccurs="1" nillable="false" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element name="string" type="xs:string" minOccurs="0"
                      maxOccurs="unbounded" nillable="true" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="stringArray" type="tns:stringArray" />

      <xs:element name="SayHello" type="tns:SayHello" />
      <xs:element name="SayHelloResponse" type="tns:SayHelloResponse" />

      <xs:element name="PurchaseItem" type="tns:PurchaseItem" />
      <xs:element name="PurchaseItemResponse" type="tns:PurchaseItemResponse" />

      <xs:element name="Ping" type="tns:Ping"/>
      <xs:element name="PingResponse" type="tns:PingResponse"/>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="SayHello">
    <wsdl:part name="SayHello" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part name="SayHelloResponse" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="Ping">
    <wsdl:part name="Ping" element="tns:Ping"/>
  </wsdl:message>
  <wsdl:message name="PingResponse">
    <wsdl:part name="PingResponse" element="tns:PingResponse"/>
  </wsdl:message>
  <wsdl:message name="PurchaseItem">
    <wsdl:part name="PurchaseItem" element="tns:PurchaseItem"/>
  </wsdl:message>
  <wsdl:message name="PurchaseItemResponse">
    <wsdl:part name="PurchaseItemResponse" element="tns:PurchaseItemResponse"/>
  </wsdl:message>

  <wsdl:service name="HelloWorldService">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="http://localhost:8000/" />
    </wsdl:port>
  </wsdl:service>

  <wsdl:portType name="Application">

    <wsdl:operation name="SayHello" parameterOrder="SayHello">
      <wsdl:input name="SayHello" message="tns:SayHello" />
      <wsdl:output name="SayHelloResponse" message="tns:SayHelloResponse" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseItem">
      <wsdl:input name="PurchaseItem" message="tns:PurchaseItem"/>
      <wsdl:output name="PurchaseItemResponse" message="tns:PurchaseItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input name="Ping" message="tns:Ping"/>
      <wsdl:output name="PingResponse" message="tns:PingResponse"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="SayHello">
      <soap:operation soapAction="SayHello" style="document" />
      <wsdl:input name="SayHello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SayHelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Ping">
      <soap:operation soapAction="WebService.API/Ping" style="document"/>
      <wsdl:input  name="Ping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PurchaseItem">
      <soap:operation soapAction="PurchaseItem" style="document"/>
      <wsdl:input  name="PurchaseItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PurchaseItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

</wsdl:definitions>